* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

/* Header section */
#header {
    display: flex;
    align-items: center;
    height: 54px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
    align-items: center;
    
}

#header .right svg {
    margin-left: 10px;
}

#header .right img {
    border-radius: 50%;
    width: 22px;
    margin-left: 10px;
}

#header .center input {
    height: 28px;
    max-width: 225px;
    text-align: center;
}

@media (max-width: 570px) {
    #header .center {
        display: none;
    }
    #header .row {
        display: flex;
        justify-content: space-between;
    }
}

